<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div class="navigation">
        <h3 th:text="|${movieName}영화 리뷰 수정|">default Movie Name</h3>
    </div>
    <form th:object="${reviewForm}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div th:replace="fragments/form :: formStar"/>

        <div class="form-group">
            <label th:for="name">코멘트 내용</label>
            <input type="text" th:field="*{description}" class="form-control"
                   placeholder="내용을 입력하세요"> </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                        onclick="history.back();"
                        type="button">취소</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">리뷰 등록</button>
            </div>

        </div>
    </form>
    <br/>
</div> <!-- /container -->
</body>
</html>