
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/error.css" rel="stylesheet">
</head>
<body>
<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="big-text">해당 영화는 없습니다 ㅠ</h1>
                    <div class="im-sheep">
                        <div class="top">
                            <div class="body"></div>
                            <div class="head">
                                <div class="im-eye one"></div>
                                <div class="im-eye two"></div>
                                <div class="im-ear one"></div>
                                <div class="im-ear two"></div>
                            </div>
                        </div>
                        <div class="im-legs">
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                        </div>
                    </div>
                    <h4>해당 영화는 존재하지않거나 일시적으로 처리중입니다</h4>
                    <!--<p>Sorry bit the page you are looking for does not exist, have been removed or name changed.</p>-->
                    <a href="/" class="btn btn-primary btn-round">홈으로 가기</a>
                    <a onclick="history.back();" class="btn btn-primary btn-round backbtn">뒤로가기</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>