<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="navigation">
        <h3 th:text="|${movieName}영화의 리뷰|">default Movie Name</h3>
        <button th:onclick="|location.href='@{/movies/{movieId}/reviews/new(movieId=${movieId})}'|" type="submit" class="btn btn-primary">리뷰 쓰기</button>
    </div>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>닉네임</th> <th>점수</th> <th>코멘트</th> <th>작성일자</th> <th></th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="review : ${reviews}">
                <td th:text="${nickNames.get(review.memberId)}"></td>
                <td th:text="${review.score}"></td>
                <td th:text="${review.description}"></td>
                <td th:text="${review.dateTime}"></td>
                <td>
                    <a th:if="${memberId} == ${review.memberId}" href="#" th:href="@{/movies/{movieId}/reviews/{reviewId}/edit (movieId=${movieId}, reviewId=${review.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <a th:if="${memberId} == ${review.memberId}" href="#"
                       th:href="'javascript:cancel('+${movieId}+', '+${review.id}+')'"
                       class="btn btn-danger">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(movieId, reviewId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/movies/" + movieId + "/reviews/" + reviewId + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>