<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div>
        <table class="table table-striped" th:each="review : ${reviews}">
            <h3 th:text="${review.movie.name}"></h3>
            <thead> <tr>
                <th>점수</th> <th>코멘트</th> <th>작성일자</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${review.score}"></td>
                <td th:text="${review.description}"></td>
                <td th:text="${review.dateTime}"></td>
                <td>
                    <a href="#" th:href="@{/movies/{movieId}/reviews/{reviewId}/edit (movieId=${review.movie.id}, reviewId=${review.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <a href="#"
                       th:href="'javascript:cancel('+${review.movie.id}+', '+${review.id}+')'"
                       class="btn btn-danger">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
<script>
    function cancel(movieId, reviewId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/movies/" + movieId + "/reviews/" + reviewId + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>