@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.navigation{
    display: flex;
    justify-content: space-between;
}
.fieldError {
    border: 1.3mm solid rgba(255, 0, 0, 0.9);
    color: red;
}

.fieldError2 {
    color: red;
}



.form-padding{
    padding: 50px;
}


.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star-ratings-base {
  z-index: 0;
  padding: 0;
}



.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: flex-end;
  padding: 0 0.2em;
  text-align: center;
  width: 67%
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}


.form-group{
    margin-bottom: 20px;
}

.score-text{
    -webkit-text-fill-color: black;
}

.review-card-container{
    justify-content: center;
}

.review-card{
    box-shadow: 0 2px 3px 0 rgb(155 168 174 / 8%), 0 0 2px 0 rgb(136 148 158 / 30%);
}

.navigation{
    margin: 20px 0px;
    padding: 120px;

}

.review-write-form{
    margin: 30px;
}

body{
    font-family: "Song Myung";

}

.navbar{
    font-family: var(--bs-body-font-family);
}

header h1{
    font-family: "Song Myung", cursive;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 0 2px 1px #000;
    color: #FFB000;
}


.write{
    height: 60%;
}

.card{
    border-color: #6c757d;
}

.short-edit{
    padding: 5px 100px;
}

.short-edit h1{
    font-family: "Song Myung", cursive;
        font-size: 40px;
        font-weight: normal;
        text-shadow: 0 2px 1px #000;
        color: #FFB000;
}

#shortBody{
    padding: 10px 10%;
}