/* Global */
body{
    font-family: "Song Myung";
}

.navbar{
    font-family: var(--bs-body-font-family);
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 120px;
}

header h1{
    font-family: "Song Myung", cursive;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 0 2px 1px #000;
    color: #FFB000;
}


/* form */
.fieldError {
    border: 1.3mm solid rgba(255, 0, 0, 0.9);
    color: red;
}

.form-padding{
    padding: 50px;
}

.form-group{
    margin-bottom: 20px;
}

.review-write-form{
    margin: 30px;
}


.star-ratings-form {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: flex-end;
  padding: 0 0.2em;
  text-align: center;
  width: 67%
}

.star-ratings-form input {
  display: none;
}

.star-ratings-form label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.star-ratings-form :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star-ratings-form label:hover,
.star-ratings-form label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}



/* List */
.star-ratings-list {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-list-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star-ratings-list-base {
  z-index: 0;
  padding: 0;
}

.score-text{
    -webkit-text-fill-color: black;
}

.review-card-container{
    justify-content: center;
}

.review-card{
    box-shadow: 0 2px 3px 0 rgb(155 168 174 / 8%), 0 0 2px 0 rgb(136 148 158 / 30%);
}

.write{
    height: 60%;
}

.card{
    border-color: #6c757d;
}

/* short */
.short-edit{
    padding: 5px 10px;
}

.short-edit h1{
    font-family: "Song Myung", cursive;
        font-size: 40px;
        font-weight: normal;
        text-shadow: 0 2px 1px #000;
        color: #FFB000;
}

#shortBody{
    padding: 10px 10%;
}