<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-md navbar-light bg-dark" th:fragment="bodyHeader">

    <img src="https://k5s-member-convenience.s3.ap-northeast-2.amazonaws.com/common/k5s-icon.png"
         width="40" height="40" class="mx-2">
    <label class="text-light fw-bold me-3">K5sMovie</label>

    <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link text-light font-weight-bold" href="http://3.34.45.251/movies/">Movies</a></li>
    </ul>

    <ul class="nav justify-content-end ms-auto" th:if="${memberName != null}">
        <li class="nav-item">
            <label class="nav-link text-light fw-bold" th:text="${memberName}+' 님'"></label>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="#">My Page</a>
        </li>
        <li class="nav-item pe-auto">
            <a class="nav-link active" aria-current="page" th:onclick="|location.href='@{/reviews/logout}'|" href="#">Logout</a>
        </li>
    </ul>
    <ul class="nav justify-content-end ms-auto" th:if="${memberName == null}">
        <li class="nav-item pe-auto">
            <a class="nav-link active" aria-current="page" th:onclick="|location.href='@{/reviews/login}'|" href="#">Login</a>
        </li>
    </ul>

</nav>

<nav class="navbar navbar-expand-md navbar-light bg-dark" th:fragment="bodyHeader-list">

    <img src="https://k5s-member-convenience.s3.ap-northeast-2.amazonaws.com/common/k5s-icon.png"
         width="40" height="40" class="mx-2">
    <label class="text-light fw-bold me-3">K5sMovie</label>

    <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link text-light font-weight-bold" href="http://3.34.45.251/movies/">Movies</a></li>
    </ul>

    <ul class="nav justify-content-end ms-auto" th:if="${memberName != null}">
        <li class="nav-item">
            <label class="nav-link text-light fw-bold" th:text="${memberName}+' 님'"></label>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="#">My Page</a>
        </li>
        <li class="nav-item pe-auto">
            <a class="nav-link active" aria-current="page" th:onclick="|location.href='@{/reviews/list/logout}'|" href="#">Logout</a>
        </li>
    </ul>
    <ul class="nav justify-content-end ms-auto" th:if="${memberName == null}">
        <li class="nav-item pe-auto">
            <a class="nav-link active" aria-current="page" th:onclick="|location.href='@{/reviews/login}'|" href="#">Logins</a>
        </li>
    </ul>
</nav>