<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="card-header bg-transparent border-secondary" th:fragment="score">
  <div class="star-ratings-list">
    <div class="star-ratings-list-fill space-x-2 text-lg" th:style="|width: ${review.score*8.3}%|">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
    <div class="star-ratings-list-base space-x-2 text-lg">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span class="score-text" th:text="|  ${review.score}|"></span>
    </div>
  </div>
</div>

<div class="card-footer bg-transparent text-end border-secondary" th:fragment="date">
  <small class="text-muted" th:text="${review.dateTime}">Last updated 3 mins ago</small>
</div>