<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader-list"/>
<div class="container">
    <header class="navigation py-4 border-bottom border-5 row">
        <div class="d-flex justify-content-start align-items-end">
            <h1 th:text="|${movieName}|">default Movie Name</h1><h5>영화</h5>
        </div>
        <div class="d-flex justify-content-between">
            <h3 th:text="|리뷰|">default Movie Name</h3>
            <button th:onclick="|location.href='@{/movies/{movieId}/reviews/new(movieId=${movieId})}'|" type="submit" class="btn btn-primary">리뷰 쓰기</button>
        </div>
    </header>
    <div class="row row-cols-1 row-cols-md-3 g-4 review-card-container" th:each="review : ${reviews}">
        <div class="card w-75 mb-3">
            <div class="card-header bg-transparent">
                <div class="star-ratings">
                    <div class="star-ratings-fill space-x-2 text-lg" th:style="|width: ${review.score*8.3}%|">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <div class="star-ratings-base space-x-2 text-lg">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span class="score-text" th:text="|  ${review.score}|"></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${review.description}">Success card title</h5>
                <p class="card-text" th:text="${nickNames.get(review.memberId)}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="text-end">
                    <a th:if="${memberId} == ${review.memberId}" href="#" th:href="@{/movies/{movieId}/reviews/{reviewId}/edit (movieId=${movieId}, reviewId=${review.id})}" class="btn btn-primary" role="button">수정</a>
                    <a th:if="${memberId} == ${review.memberId}" href="#"
                       th:href="'javascript:cancel('+${movieId}+', '+${review.id}+')'"
                       class="btn btn-danger">삭제</a>
                </div>
            </div>
            <div class="card-footer bg-transparent text-end">
                <small class="text-muted" th:text="${review.dateTime}">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(movieId, reviewId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/movies/" + movieId + "/reviews/" + reviewId + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>