<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="navigation py-4 border-bottom border-4 row">
        <div class="d-flex justify-content-start align-items-end">
            <h1 th:text="|${movieName}|">default Movie Name</h1><h5>영화</h5>
        </div>
        <div>
            <h3 th:text="|리뷰 쓰기|">default Movie Name</h3>
        </div>
    </div>
    <form th:object="${reviewForm}" method="post" class="border border-5 border-light rounded form-padding review-write-form">
        <div th:replace="fragments/form :: formStar"/>
        <div class="form-group">
            <label th:for="name"><strong>코멘트 내용</strong></label>
            <textarea type="text" th:field="*{description}" class="form-control" rows="3" placeholder="내용을 입력하세요"> </textarea>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="history.back();"
                        type="button">취소</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">리뷰 등록</button>
            </div>

        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>